<div class="row mb-3 p-3 card bg-light">
    <div class="col">
        {{ form_start(search_form, { 'method': 'GET', 'attr': {'id': 'searchform'} }) }}
            <div class="row mb-3">
                <div class="col-md-4">
                    {{ form_row(search_form.dimension) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(search_form.location) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(search_form.episode) }}
                </div>
            </div>
            <button class="btn btn-small btn-primary" type="submit">Update filter results</button>
            <a class="btn btn-small btn-text btn-clear clear-filter">Clear Filter</a>
        {{ form_end(search_form) }}
    </div>
</div>
