{% extends 'base.html.twig' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a class="btn btn-clear" href="{{ path('home') }}">&lt; Back to list</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="{{ character.image }}" class="img-fluid rounded-start" alt="{{ character.name }}">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h1 class="card-title">{{ character.name }}</h1>
                    <div class="row">
                        <div class="col-3">Status</div>
                        <div class="col-9">{{ character.status }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Species</div>
                        <div class="col-9">{{ character.species }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Type</div>
                        <div class="col-9">{{ character.type }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Gender</div>
                        <div class="col-9">{{ character.gender }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Origin</div>
                        <div class="col-9">{{ character.origin.name }} {% if character.origin.dimension is not empty %}({{ character.origin.dimension }}){% endif %}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Location</div>
                        <div class="col-9">{{ character.location.name }} {% if character.location.dimension is not empty %}({{ character.location.dimension }}){% endif %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <h5>Episodes ({{ character.episode|length }})</h5>
                </div>
                <div class="col-4 text-end">
                    <a class="text-decoration-none" data-bs-toggle="collapse" href="#episodesCollapse" role="button" aria-expanded="false" aria-controls="episodesCollapse">
                        Toggle episodes
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body collapse" id="episodesCollapse">
            <table class="table">
                <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Air date</th>
                </tr>
                {% for episode in character.episode %}
                    <tr>
                        <td>{{ episode.episode }}</td>
                        <td>{{ episode.name }}</td>
                        <td>{{ episode.air_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
