{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {{ include('default/_search.html.twig') }}

    <div class="items">
        <div class="row mb-3">
            {% for character in characters %}
                <div class="col-3">
                    <div class="card">
                        <img src="{{ character.image }}" alt="{{ character.name }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ character.name }}</h5>
                            <p class="card-text">{{ character.species }} - {{ character.status }}</p>
                            <p class="card-text">Last known location:<br/> {{ character.location.name }}</p>
                            <p class="card-text">First seen:<br/> {{ (character.episode|first).name }}</p>
                            <a href="{{ path('character_detail', {'id': character.id}) }}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>

                {% if loop.index % 4 == 0 %}
                    </div>
                    <div class="row mb-3">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
