{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p><strong>Success!</strong> {{ flashMessage }}</p>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p><strong>Warning!</strong> {{ flashMessage }}</p>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('inactivity') %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p>{{ flashMessage }}</p>
    </div>
{% endfor %}