<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<div class="container">
    <header class="row">
        <div class="px-3 py-3 mb-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="{{ path('home') }}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        Bax Music Rick and Morty case
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col">
            {{ include('includes/messages.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
